:root {
    --primaryTextColor: white;
    --secondaryTextColor: hsla(0,0%,100%,.85);
    --textShadowColor: rgba(0,0,0,.4);
    --primaryBackgroundColor: hsl(30, 7%, 18%);
    --secondaryBackgroundColor: rgba(0,0,0,.14);
    --menuBackgroundColor: #262421;
    --accentColor: #7fa650;
    --accentColorHover: #95bb4a;
    --accentBorderColor: #537133;
    --buttonColor: hsla(0,0%,100%,.1);
    --buttonColorHover: hsla(0,0%,100%,.15);
    --borderColor: hsla(0,0%,100%,.1);
    --borderFocus: hsla(0,0%,100%,.3);
    --linkColor: #52b1dc;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--primaryBackgroundColor);
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

#menu-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 10rem;
    height: 100vh;
    background-color: var(--menuBackgroundColor);
}

.menu-logo {
    color: var(--primaryTextColor);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
}

.menu-logo-text {
    font-weight: bold;
    margin-left: -0.5rem;
    text-shadow: -1px 0 var(--menuBackgroundColor), 0 1px var(--menuBackgroundColor), 1px 0 var(--menuBackgroundColor), 0 -1px var(--menuBackgroundColor);
}

.menu-item {
    color: var(--secondaryTextColor);
    font-size: 1rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-decoration: none;
    padding: 0.8rem 0;
}

.menu-logo:hover,
.menu-logo:focus,
.menu-item:hover,
.menu-item:focus {
    background-color: var(--secondaryBackgroundColor);
    color: var(--primaryTextColor);
    outline: none;
}

.menu-icon {
    margin: auto;
}

.menu-btn {
    font-size: 1rem;
    border: none;
    margin: 0.3rem 1rem;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    background-color: var(--buttonColor);
    color: var(--secondaryTextColor);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn {
    color: var(--primaryTextColor);
    background-color: var(--accentColor);
    box-shadow: 0 0.1rem 0 0 var(--accentBorderColor);
    text-shadow: 0 .1rem 0 var(--textShadowColor,rgba(0,0,0,.4));
}

.signup-btn:hover,
.signup-btn:focus {
    color: var(--primaryTextColor);
    background-color: var(--buttonColorHover);
    outline: none;
}

.login-btn:hover,
.login-btn:focus {
    background-color: var(--accentColorHover);
    color: var(--primaryTextColor);
    outline: none;
}

/* Error */
.error-message {
    color: var(--primaryTextColor);
}

/* Register */
.form-container {
    display: grid;
    place-items: center;
    color: var(--primaryTextColor);
}

.logo {
    color: var(--primaryTextColor);
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem 0;
}

.logo-text {
    font-weight: bold;
    margin-left: -0.7rem;
    text-shadow: -1px 0 var(--menuBackgroundColor), 0 1px var(--menuBackgroundColor), 1px 0 var(--menuBackgroundColor), 0 -1px var(--menuBackgroundColor);
}

.form-card {
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em 1.5em;
    background-color: var(--menuBackgroundColor);
    border-radius: 0.6rem;
}

.form-title,
.form-subtitle {
    margin: 0;
}

.form-title{
    font-size: 2.5rem;
    font-weight: 600;
}

.form-subtitle {
    color: hsla(0,0%,100%,.75);
    padding: 0.5rem 0 2rem;
}

.form-control {
    background-color: hsla(0,0%,100%,.1);
    color: hsla(0,0%,100%,.72);
    border: 0.1rem solid var(--borderColor);
    border-radius: 0.3rem;
    padding: 0.7rem;
    width: 30rem;
    outline: none;
}

.form-control:hover,
.form-control:active {
    outline: none;
    border: 0.1rem solid var(--borderFocus);
}

.mb-3:nth-child(2) {
    margin: 1rem 0;
}

.form-card > form > p {
    font-size: 0.9rem;
    color: hsla(0, 0%, 100%, 0.502);
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.skill-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-card {
    --width: 6.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,.08);
    width: var(--width);
    height: var(--width);
    padding: 1em 0 0;
    margin: 0.5rem;
    border-radius: 1rem;
    border: none;
}

.skill-card:hover,
.skill-card:focus,
.skill-card:active {
    background-color: hsla(0,0%,100%,.15);
    outline: none;
    cursor: pointer;
}

.skill-card:focus {
    outline: 2px solid var(--accentColor);
    outline-offset: 0.2rem;
}

.skill-card-text {
    color: #e6e6e6;
    font-size: 0.8rem;
    margin-top: 2em;
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondaryTextColor);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    min-height: 5rem;
    width: 100%;
    margin: 2rem;
    background-color: var(--accentColor);
    transform: translateX(-2rem);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0 0 var(--accentBorderColor);
    text-shadow: 0 .1rem 0 var(--textShadowColor,rgba(0,0,0,.4));
    border: none;
}

.register-btn:hover,
.register-btn:focus {
    background-color: var(--accentColorHover);
    color: var(--primaryTextColor);
    cursor: pointer;
    outline: none;
}

.form-card > p {
    color: hsla(0,0%,100%,.65);
}

.form-card > p > a {
    text-decoration: none;
    color: var(--linkColor);
}