{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="about-card">
        <h1 class="about-header">
            About Chess50
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facilis minus quae autem ex, eaque veritatis? Distinctio asperiores maxime provident, magni, voluptatem repellendus consequuntur aliquid ut nemo in rem delectus?</p>
        <p>Nisi officiis soluta ipsum maxime temporibus iste vel, harum necessitatibus dolor optio accusamus eum repudiandae nostrum reiciendis eaque ipsam aut blanditiis eligendi debitis! Deserunt, nulla? Provident enim officia fuga ex!</p>
        <p>Sapiente, incidunt facere nihil recusandae blanditiis doloremque veritatis eaque error quos. Deleniti inventore, voluptas corporis rem non cupiditate natus mollitia. Quisquam temporibus quaerat quos nemo repudiandae voluptas earum quas natus?</p>
    </div>
{% endblock %}